article h1 {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
}

.article-image {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

article p {
    color: white;
    font-size: 30px;
    line-height: 1.8;
    padding: 0em 1em;
}

p.byline {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.back-icon {
    float: left;
    margin-top: 30px;
    width: 5%;
    min-width: 50px;
}

.back-icon:hover {
    transform: scale(1.2);
    cursor: pointer;
}

@media only screen and (max-width: 500px) {
    article h1 {
        font-size: 25px;
    }

    article p {
        font-size: 15px;
        line-height: 1.8;
    }
    
    p.byline {
        font-size: 15px;
    }
}