article h1 {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
}

.article-image {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

article p {
    color: white;
    font-size: 30px;
    line-height: 1.8;
}

p.byline {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.back-icon {
    float: left;
    margin-top: 30px;
    width: 5%;
}

.back-icon:hover {
    transform: scale(1.2);
    cursor: pointer;
}