.post {
    background-color: #D9D9D9;
    padding: 40px;
    margin: 0px 0px 50px 0px;
    border-radius: 3px;
    display: flex;
}

.vote-column {
    width: 30%;
    min-width: 70px;
    display: flex;
    padding-top: 40px;
}

.vote-controls {
    max-width: 50px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-content: flex-start;
    justify-content: center;
}

.vote-controls img {
    width: 15px;
    height: 15px;
}

.vote-controls img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.vote-controls p {
    width: 100%;
    font-weight: bold;
}

.content-column img {
    width: 100%;
}

@media only screen and (max-width: 500px) {
    .vote-column {
        width: 5px;
    }
}