.post {
    background-color: #D9D9D9;
    padding: 40px;
    margin: 0px 0px 50px 0px;
    border-radius: 3px;
    display: flex;
    min-width: 90%;
}

.vote-column {
    width: 30%;
    min-width: 70px;
    display: flex;
    padding-top: 40px;
}

.vote-controls {
    max-width: 50px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-content: flex-start;
    justify-content: center;
}

.vote-controls img {
    width: 20px;
    height: 20px;
}

.selected-arrow {
    transform: scale(1.6);
    filter: grayscale(0.8);
}

.vote-controls img.selected-arrow:hover {
    transform: scale(1.6) !important;
    cursor: auto;
}

.vote-controls img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.vote-controls p {
    width: 100%;
    font-weight: bold;
}

.content-column img {
    width: 100%;
}

@media only screen and (max-width: 500px) {
    .vote-column {
        width: 5px;
    }
}

.spin {
    display: inline-block;
    width: 90px;
    height: 90px;
    border: 3px solid rgba(255, 255, 255, .3);
    border-radius: 50%;
    border-top-color: rgb(17, 180, 156);
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  }
  @keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }

.center {
    display: flex;
    justify-content: center;
    height: 140px;
    align-items: center;
}