.vote-toggler {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.vote-icon {
    width: 60px !important;
    height: 60px;
    margin: 0px 10px;
    padding: 15px 10px;
}

.vote-toggler img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.vote-toggler p {
    font-size: 35px;
    font-weight: bold;
    line-height: 0px;
}

.selected-background {
    background-color: #29D9BE;
    border-radius: 100%;
    
}

.selected-icon {
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
    padding: 15px 10px;
}

@media only screen and (max-width: 500px) {
    .vote-toggler {
        margin: 10px 0px 20px 0px;
    }
}